.site-page-header-responsive {
  border: 1px solid rgb(235, 237, 240);
}
[data-theme='dark'] .site-page-header-responsive {
  border: 1px solid #303030;
}
tr:last-child td {
  padding-bottom: 0;
}
.ant-statistic-content {
  font-size: 20px;
  line-height: 28px;
}
.content {
  display: flex;
}

/* Event Page */

.grid-style {
  padding: 1.5% 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.details-section {
  flex: 0 0 65%;
  margin: 1.5% 1%;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.filter {
  width: 35%;
  position: 'relative';
}

@media (min-width: 500px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
}

@media (max-width: 600px) {
  .content {
    display: block;
  }
  .details-section {
    flex: 0 0 100%;
  }
}

@media (min-width: 600px) {
  .filter {
    width: 100%;
    position: 'relative';
  }
}

@media (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
