.bg-text {
  background-color: #cecece;
  /* background-color: rgba(0, 0, 0, 0.4); */
  color: white;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 40px;
  text-align: center;
}

.site-layout-background {
  background-color: #f2f3f4;
}

.site-card-wrapper {
  background: #fafafc;
  padding: 100px;
}
[data-theme='dark'] .site-card-wrapper {
  background: #303030;
}

[data-theme='compact']
  .site-collapse-custom-collapse
  .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  background: #f7f7f7;
  border-radius: 2px;
  margin-bottom: 24px;
  border: 0px;
  overflow: hidden;
}
[data-theme='dark'] .site-collapse-custom-collapse .site-collapse-custom-panel {
  background: rgba(255, 255, 255, 0.04);
  border: 0px;
}

.dashboard {
  padding: 2% 5%;
}

.unsubscribed {
  padding: 1.5% 5%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.subscribed {
  padding: 1.5% 5%;
}

@media (max-width: 600px) {
  .subscribed {
    padding: 0;
  }
  .dashboard {
    padding: 0 0;
  }
}
