.bg-text {
  background-color: #cecece;
  /* background-color: rgba(0, 0, 0, 0.4); */
  color: white;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 40px;
  text-align: center;
}

.site-layout-background {
  background-color: #f2f3f4;
}

.site-card-wrapper {
  background: #fafafc;
  padding: 100px;
}
[data-theme='dark'] .site-card-wrapper {
  background: #303030;
}

[data-theme='compact']
  .site-collapse-custom-collapse
  .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  background: #f7f7f7;
  border-radius: 2px;
  margin-bottom: 24px;
  border: 0px;
  overflow: hidden;
}
[data-theme='dark'] .site-collapse-custom-collapse .site-collapse-custom-panel {
  background: rgba(255, 255, 255, 0.04);
  border: 0px;
}

.dashboard {
  padding: 2% 5%;
}

.unsubscribed {
  padding: 1.5% 5%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.subscribed {
  padding: 1.5% 5%;
}

/* Profile */

.layout-style {
  padding: 2% 3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.layout-container {
  padding: 1.5% 5%;
}

.profile-img {
  flex: 0 0 25%;
}

.bg-style {
  padding: 1% 1%;
}

.tab-style {
  flex: 0 0 70%;
  margin: 0 2%;
  padding: 2%;
  background: white;
}

@media (max-width: 600px) {
  .subscribed {
    padding: 0;
  }
  .dashboard {
    padding: 0 0;
  }
  .layout-container .layout-style {
    padding: 3px 3px;
    justify-content: space-around;
  }
  .tab-style .site-layout-background .site-layout {
    padding: 0;
    margin: 0 0;
  }
  .profile-img {
    flex: 0 0 100%;
    max-width: 100%;
    height: 25%;
    max-height: 25%;
    margin-bottom: 2%;
  }
  .tab-style {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
  }
}

/* Subscription Detail page */

.subscription-detail {
  padding: 1.5% 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.detail-section {
  flex: 0 0 65%;
  margin: 1.5% 1%;
}

.order-section {
  flex: 0 0 30%;
  margin: 1.5% 1%;
}

.plan-card {
  margin: 0 2%;
  box-shadow: 0 0 10px 1px #e8e9ec;
  border-radius: 10px;
}

.yellow-button {
  background: #f5cc23;
  border-color: #ffffff;
  color: #ffffff;
  display: block;
}

.card-head {
  font-weight: 550;
  font-size: 1.2rem;
  text-align: center;
}

.sym {
  font-size: 1rem;
  text-align: center;
}

.price-head {
  font-weight: 500;
  font-size: 1.75rem;
  text-align: center;
}

.about-section {
  color: #a6a6a6;
  font-size: 0.7rem;
  text-align: center;
}
