.site-page-header-responsive {
  border: 1px solid rgb(235, 237, 240);
}
[data-theme='dark'] .site-page-header-responsive {
  border: 1px solid #303030;
}
tr:last-child td {
  padding-bottom: 0;
}
.ant-statistic-content {
  font-size: 20px;
  line-height: 28px;
}
.content {
  display: flex;
}
@media (max-width: 576px) {
  .content {
    display: block;
  }
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
